routes:
  - origin: "GRU"
    destination: "FCO"
    departure_date: "2026-01-30"
    return_date: "2026-02-02"
    adults: 2
    children: 1
    cabin: "ECONOMY"
    currency: "BRL"
    direct_only: true

  - origin: "CGH"
    destination: "CWB"
    departure_date: "2026-01-30"
    return_date: "2026-02-02"
    adults: 2
    children: 1
    cabin: "ECONOMY"
    currency: "BRL"
    direct_only: true

  - origin: "GRU"
    destination: "MIA"
    departure_date: "2026-03-10"
    return_date: "2026-03-20"
    adults: 1
    children: 0
    cabin: "ECONOMY"
    currency: "BRL"
    direct_only: false
