route:
  origin: GRU
  destination: FCO
  direct_only: true
  adults: 2
  children: 1
  children_ages: [3]
  cabin: ECONOMY

date_rule:
  depart_start: "2026-09-01"
  depart_end: "2026-09-20"
  trip_length_days: 15
  return_deadline: "2026-10-05"

sources:
  - amadeus
  - kiwi
