  - name: Curitiba
    domestic: true
    destinations: [CWB]
    direct_only: true
    adults: 2
    children: 1
    children_ages: [3]   # opcional (documentação/uso futuro)
    cabin: ECONOMY
    currency: BRL
    date_rule:
      type: rolling_weekend
      lookahead_days: 30
      depart_dows: [FRI, SAT]
      return_dows: [SUN, MON]

  - name: Navegantes
    domestic: true
    destinations: [NVT]
    direct_only: true
    adults: 2
    children: 1
    children_ages: [3]   # opcional
    cabin: ECONOMY
    currency: BRL
    date_rule:
      type: rolling_weekend
      lookahead_days: 30
      depart_dows: [FRI, SAT]
      return_dows: [SUN, MON]
