routes:
  - origin: "GRU"
    destination: "FCO"
    departure_date: "2026-01-30"
    return_date: "2026-02-02"
    adults: 2
    children: 1
    cabin: "ECONOMY"
    currency: "BRL"
    direct_only: true
    watch:
      target_price_total: 12000
      alert_drop_pct: 8
      max_stops: 0
      prefer_airlines: ["AZ"]

  - origin: "CGH"
    destination: "CWB"
    departure_date: "2026-01-30"
    return_date: "2026-02-02"
    adults: 2
    children: 1
    cabin: "ECONOMY"
    currency: "BRL"
    direct_only: true
    watch:
      target_price_total: 1800
      alert_drop_pct: 10
      max_stops: 0
